*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
}
.order-item{
    width: 1000px;
    margin:10px 256px 10px;
    border: 1px solid gray;
    text-align: center;
    background: #d3a4ff ;
}
.order-item-header{
    border-bottom: 1px solid gray;
}
img{
    width: 100px;
}